@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Create root, we ought to study more on this as I am working on assumptions and refference to other sample files  */
:root {
  --primary-color: #007bff;
  --secondary-color: #ebf5fd;
  --accent1-color: #ffc107;
  --accent2-color: #B7416E;
  --nav-background-color: #87416E;
  --nav-link-color: #98798E;
  --nav-hover-link-color: #fff;
  --nav-hover-background-color: #87416E;
}

.client-image {
  float: right;
  margin-left: 20px;
}
  /* This value should be adjusted based on the width of the client image and any desired spacing 
/* Select and Color fonts  */
   h1, h2 {
    font-family: 'Lukiest Guy', cursive;
    font-size: 2rem;
    color: var(--accent1-color);
  }
  
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .logo {
    justify-self: start;
  }
  
  nav {
    justify-self: end;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  p {
    font-size: 1.2rem;
  }
  /* remove underlining */
  .sociallinks a {
    text-decoration: none;
  }
  
  body {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
  
  /* class selectors Hero */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--primary-color);
  text-shadow: 2px 2px 0px var(--secondary-color);
}

.hero article {
  display:inline-block;
  position: absolute;
  top: 25%;
  left: 2%;
  width: 90%;
  margin-top: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.3);
}

.hero article img {
  float: right;
  width: 25%;
  margin: 0 0 10px 10px;
}

/*background color and opacity of the article */
.hero article {
  background-color: rgba(60, 141, 196, 0.411);
  display:block;
}

.hero article p{
  color: #feffff;
  font-size: larger;
  font-weight: bolder;
}

section, section  {
  position: relative;
  clear: both;
  padding: 1rem;
  box-shadow: #87416E;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
}

.history-content {
  display: flex;
  justify-content: space-between;

  /* grid-column: 1 / span 2; */
}

.history-content p, .history-content img{
  width: 30%
}

.adventures {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align:center;
  margin-bottom: 50px;
}

.adventures-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

figure {
  margin:10px;

  width: 160px;

  text-align: center;
}

img {
  max-width: 100%;
  height: 100%;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #807c7c3f;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sociallinks a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sociallinks a img {
  margin-right: 5px;
}