* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(70, 130, 180); 
  padding: 10px;
}
nav a{
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: rgb(70, 130, 180);
}
img {
  width: 12.5em;
  height: auto;
  border: 1px solid rgb(70, 130, 180);
  padding: 2px;
  box-shadow: 0 0 30px rgb(128, 128, 128);
}
p {
  padding:10px;
  width: 75;
}
main {
  max-width: 60em;

}
aside {
  width: 60em; 
  text-align: center;
  position: relative;
}

aside img{
  width: auto;
  height: 11.1em;
  position: static;
}

aside h2{
  position: absolute;
  left:20px;
  bottom: 60px;
}


main img{
  width: 8.7%;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem; 
}


footer{
margin-top:1em; /* consistent units for margin */
border-top:1px solid whitesmoke;
text-align:center;
}
/* Class Selectors */
.box{
margin:1em;
border:1px solid rgba(7, 7, 7, 0.658);
padding:1em;
background-color:#ccd4dc;
color:#000;
}