* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: steelblue;
  padding: 10px;
}
nav a{
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: steelblue;
}
img {
  width: 200px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding:10px;
  height: auto;
}
main {
  max-width: 960px;

}
aside {
  width: 950px;
  text-align: center;
  position: relative;
}

aside img{
  width: auto;
  height: 175px;
  position: left;
}

aside h2{
  position: absolute;
  left:20px;
  bottom: 50px;
}


main img{
  width: 100px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p{ padding:0;}

footer{
  margin: top 16px; /*I could have used 1em*/
  border-top: 1px soid whitesmoke;
  text-align: center;
}
/* Class Selectors */
.box{
  margin: 1em;
  border: 1px solid fgba(0,0,0,.1);
  padding: 1em;
  background-color: rgb(204, 212, 220);
  color: #000;
}
